/*Box Model Hack */

* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden; 
    line-height 0;
    height: 0;
}

.clear {
    clear: both;
}

header {
    border-bottom: 1px solid black;
    height: 200px;
    background-color: blue;
}

.smallBox{
    border: 1px solid black;
    border-top: none;
    width: 33.333333333%;
    height: 200px;
    background-color: gold;
    float: left;
}

.largeBox {
    width: 50%;
    border: 1px solid black;
    border-top: none;
    background-color: red;
    height: 200px;
    float: right;
}

footer {
    border-top: none;
    border: 1px solid black;
    height: 200px;
    background-color: brown;
}

header, footer {
    clear: both;
}