body{
    box-sizing: border-box;
    background-color: #7dcaeb;
    color: white;
}

.box{
    border: 4px solid #00eb40;
    margin: 0 auto;
    max-width: 80vh;
    padding: 40px;
}

.whiteAboutUs{
    color: white;
}

img{
    width: 30%;
    height: 40%;
    float: right;
}

.p1, .p2{
    text-align: left;
    font-size: 1em;
}

h1, span{
    text-align: center;
    font-family: 'Roboto Serif', serif;
}

h2{
    text-align: left;
}

.topNav, .bottomNav{
    text-align: center;
}

.bottomNav{
    color: #00eb40;
}

.pipe{
    color: #7f7f7f;
}

a{
    text-decoration: none;
}

.green, span > a{
 color: #00eb40;
}

/***
border color: #00eb40
line color: 7f7f7f
****/


 @media screen and (max-width: 800px) {
    img {
        max-width: 200px;
        max-height: 430px;
        
    }

    .p1, .p2{
        font-size: .8em;
    } 
} 