* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*** Erase Me Later ****/

nav, header, section, .wrapperGym, .wrapperVisit, footer {
    border: 2px solid black;
}


/*** Layout ****/


nav {
    height: 15vh;
    background-color: #66718a;
}
header {
    height: 100vh;
    background-color: #66718a;
}

.why, .schedule {
    height: 100vh;
}

.schedule {
    background-color: #dbdfe2;
}

.wrapperGym, .wrapperVisit {
    height: 100%;
    width: 50%;
    float: left;
}

.volunteer {
    height: 70vh;
}

footer {
    height: 40vh;
    background-color: #161c2a;
}

/**** Flex Box ****/

nav {
    opacity: 0.80;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}


.classes {
    flex-shrink: 3;
}

/*** Content ***/

a {
    text-decoration: none;
    color: white;
}

.why {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


/** Content **/

h1 {
    font-size: 3vw;
}

p {
    font-size:  2vw;
    margin: 20px;
    width: 55%;
}

.volunteer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blankButton {
    border-radius: 0%;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    background-color: white;
    border: 2px solid black
}

.colorButton {
    border-radius: 0%;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    background-color: #dbdfe2;
    border: 2px solid black
}

.box {
    background-color: #647689;
    height: 20%;
    width: 40%
}

.smallText {
    font-size: 1.5vw;
    margin:20px;
}

.wrapperGym, .wrapperVisit {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    text-align: center;
    font-size: 1vw;
}
/*** Media Query ***/

/** Mobile Layout ***/

@media screen and (max-width: 576px) {
  h1 {
    font-size: 8dvw;
  }

  p {
    width: 70%;
    font-size: large;
  }
}
