* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*** Erase Me Later ****/

nav, header, section, .wrapperGym, .wrapperVisit, footer {
    border: 2px solid black;
}


/*** Layout ****/


nav {
    height: 15vh;
    background-color: #66718a;
}
header {
    height: 100vh;
    background-color: #66718a;
}

.why, .schedule {
    height: 100vh;
}

.schedule {
    background-color: #dbdfe2;
}

.wrapperGym, .wrapperVisit {
    height: 100%;
    width: 50%;
    float: left;
}

.volunteer {
    height: 100dvh;
}

footer {
    height: 40vh;
    background-color: #161c2a;
}

/**** Flex Box ****/

nav {
    opacity: 0.80;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}


.classes {
    flex-shrink: 3;
}

/*** Content ***/

a {
    text-decoration: none;
    color: white;
}

.why {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 3vw;
}

p {
    font-size:  2vw;
    margin: 20px;
    width: 55%;
}

.volunteer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blankButton {
    border-radius: 0%;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
    width: 150px;
}

.colorButton {
    border-radius: 0%;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    background-color: #dbdfe2;
    border: 2px solid black;
    width: 150px;
}

.donateButton {
    border-radius: 8%;
    padding: 10px 20px 10px 20px;
    width: 100px;
    color:#66718a
}

.box {
    background-color: #647689;
    height: 30%;
    width: 50%
}

.smallText {
    font-size: 1.2vw;
    margin:20px;
}

.wrapperGym, .wrapperVisit {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    text-align: center;
    font-size: 1vw;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.headerH1 {
    text-align: center;
    font-size: 4vw;
    margin: 20px;
}

.headerP {
    width: 70%;
    font-size: 2vw;
    text-align: center;
    margin: 40px;
    margin-bottom: 100px;
}

a {
    font-size: 22px;
}


a:hover {
    color: blue;
}

a.Wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    font-size: 1.5vw;
}

nav{
    display: flex;
}

.logoWrapper {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span {
    font-size: 1.5vw;
    margin: 40px;
    align-self: space-between;
}

.bbI{
    font-size: 1vw;
    color: black;
}

img { 
    height: 100px;
    width: 100px;
}

.video {
    margin: 500px;
    padding: 500px;
    height: 200px;
    width: 400px;
}
/*** Media Query ***/

/** Mobile Layout ***/

@media screen and (max-width: 576px) {
  h1 {
    font-size: 8dvw;
  }

  p {
    width: 70%;
    font-size: large;
  }

  nav{
    align-items: space-around;
  }


a{
    padding-right: 10px;
    font-size: 12px;
}

.wrapperGym, .wrapperVisit {
    height: 100%;
    width: 100%;
    float: left;
}

.box {
    width: 70%;
    height: 20%;
}

.smallText {
    font-size: 3vw;
}

.headerH1, .headerP {
    font-size: 20px;
} 

.bbI {
    font-size: 3vw;
}

}
